__pycache__
VOCdevkit
VOCtrainval_11-May-2012.tar
aug
randaugment-pascal-baselines
pascal-baselines
raw-data
pascal
coco
.ipynb_checkpoints
.env
researchers-results
.DS_Store
my_data
test-researchers-pascal
my-results-old
