__pycache__
VOCdevkit
VOCtrainval_11-May-2012.tar
aug
randaugment-pascal-baselines
pascal-baselines
raw-data
pascal
coco
.ipynb_checkpoints
.env
researchers-results
.DS_Store
my_data
test-researchers-pascal
my-results-old
val2017
pascal.tar.gz
masterplan.md
da-fusion-advanced/
images-map-0-1.csv
map-images-pascal/
results/
val2017.zip
old_code